.custom-card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
}

.custom-card-body {
  display: flex;
  margin: 0;
  flex-direction: column;
  justify-content: space-between;
}

.custom-card-footer {
  margin-top: 0 auto;
  display: flex;
  justify-content: space-around;
}

.button-group {
  display: flex;
  justify-content: center;
  margin: .5rem;
}

.category-card {
  width: 18rem;
  margin-right: .5rem;
  margin-left: .5rem;
}

.category-card-button-group {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: .5rem;
}

.category-container {
  margin-bottom: 1rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}