.inventory-sheet-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.inventory-sheet-button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.inventory-sheet-button {
  margin: 10px;
}