.NavBarContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 60px;
  border-bottom: 1px solid var(--main-color);
}

.NavBarLogo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  font-size: 45px;
  font-weight: bold;
  border: 3px solid var(--secondary-color);
  margin-top: 4px;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 1px;
}

.logo-link {
  text-decoration: none;
}

.NavBarOne {
  color: var(--main-color);
}

.NavBarTwo {
  color: var(--primary-color);
}

.NavBarLinks {
  display: flex;
  align-items: center;
}

.NavBarLinks a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-weight: bold;
  margin-right: 10px;
  margin-left: 10px;
  height: 35px;
  width: 100px;
  border: 2px solid var(--main-color);
  border-radius: 5px;
  font-size: 18px;
}

.NavBarLinks a:hover {
  border: 2px solid var(--primary-color);
  background-color: var(--secondary-color);
  color: var(--main-color);
}
