.user-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.user-logout-button {
  margin-top: 1rem;
  margin-bottom: 1rem;  
}

.user-card {
  height: 300px;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.user-card-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}