.location-container {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    height: 100%;
    width: 90%;
}

.location-card {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  width: 280px;
  height: 360px;
  margin: 5px;
  overflow: hidden;
}

.location-card:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2); 
}

.location-add-button {
  margin: 16px;
  height: 200px;
  width: 200px;
}

.location-add-button:hover {
  box-shadow: 0 0 11px rgba(33,33,33,.2); 
}